@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Article */
.card {
	background-color: #fff;
	margin: 0 auto;
	padding: 10px 20px;
	width: 100%;
	height: auto;
}

p {
	padding-bottom: 20px;
	line-height: 1.5;
}

/* Header */
header {
	padding-top: 50px;
	padding-bottom: 10px;
}

header h1 {margin-bottom: 30px;}

header span {color: #2caa84;}

/* Border */
.border {
	height: 3px;
	background-color: #999999;
}

/* Main */
main {
	background-color: #666;
	padding: 50px 0;
}

main h2 {
	width: fit-content;
	background-color: #ffbf00;
	border-bottom: 5px solid #cc9900;
	margin-left: -20px;
	margin-bottom: 20px;
	padding: 10px 20px;
}

/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
	.card {
		width: 70%;
	}

	header p {
		width: 50%;
	}

	main h2 {
		margin-left: -25px;
		padding-left: 25px;
	}
}