// Color
$primary-color: #0065fe;
$text-color: #141414;
$bg-hero: linear-gradient(#1e3448 100%, #1e3448 0%);

// Font family
$gilroy-medium: set-font-family("Medium");
$gilroy-semi-bold: set-font-family("SemiBold");
$gilroy-bold: set-font-family("Bold");
